@model CompanhiadoCacau.Models.Pedido

@{
    ViewData["Title"] = "Create Pedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Pedido</h1>

<h4>Pedido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Seleção do Cliente -->
            <div class="form-group">
                <label asp-for="IdCliente" class="control-label">Cliente</label>
                <select asp-for="IdCliente" class="form-control" asp-items="ViewBag.IdCliente"></select>
                <span asp-validation-for="IdCliente" class="text-danger"></span>
            </div>

            <!-- Seleção de Produtos -->
            <div class="form-group">
                <label for="Produtos">Produtos</label>
                <select id="Produtos" name="Produtos" class="form-control" multiple="multiple">
                    @foreach (var produto in ViewBag.Produtos as IEnumerable<SelectListItem>)
                    {
                        <option value="@produto.Value">@produto.Text</option>
                    }
                </select>
          
            </div>

            <!-- Campo Quantidade -->
            <div class="form-group">
                <label for="Quantidades">Quantidades</label>
                <input type="text" name="Quantidades" class="form-control" placeholder="Exemplo: 2,3,4" />
               
            </div>

            <!-- Campo Responsável Atendimento -->
            <div class="form-group">
                <label asp-for="ResponsavelAtendimento" class="control-label">Responsável Atendimento</label>
                <input asp-for="ResponsavelAtendimento" class="form-control" />
                <span asp-validation-for="ResponsavelAtendimento" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
