@model CompanhiadoCacau.Models.Pedido

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Pedido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Campo Hidden para PedidoId -->
            <input type="hidden" asp-for="PedidoId" />

            <!-- Dropdown para selecionar o Cliente -->
            <div class="form-group">
                <label asp-for="IdCliente" class="control-label"></label>
                <select asp-for="IdCliente" class="form-control" asp-items="ViewBag.IdCliente"></select>
                <span asp-validation-for="IdCliente" class="text-danger"></span>
            </div>


            <!-- Dropdown para selecionar o Status -->
            <div class="form-group">
                <label asp-for="Status" class="control-label">Status</label>
                <select asp-for="Status" class="form-control" asp-items="ViewBag.Status"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>

            <!-- Campo DataPedido -->
            <div class="form-group">
                <label asp-for="DataPedido" class="control-label"></label>
                <input asp-for="DataPedido" class="form-control" type="date" />
                <span asp-validation-for="DataPedido" class="text-danger"></span>
            </div>

            <!-- Campo ResponsavelAtendimento -->
            <div class="form-group">
                <label asp-for="ResponsavelAtendimento" class="control-label"></label>
                <input asp-for="ResponsavelAtendimento" class="form-control" />
                <span asp-validation-for="ResponsavelAtendimento" class="text-danger"></span>
            </div>

            <!-- Botão de Submit -->
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
